<form action="/poems" method="post" id="form">
  <input type="text" name="poem[title]" placeholder="Title" value="<%= @poem.title %>">
  <textarea name="poem[content]" form="form" rows="10" placeholder="Your Opus Here"><%= @poem.content %></textarea>
  <div class="g-recaptcha" data-sitekey="6Ldt5icUAAAAAMgshnXH0Q4YCU0LkbFEPuG1qhTj"></div>
  <input type="submit" title="submit" value="Post">
</form>
