<form action="/poems" method="post" id="form">
  <input type="text" name="title" placeholder="Title">
  <textarea name="comment" form="form" rows="10" placeholder="Your Opus Here"></textarea>
  <!--<input type="text" name="content" placeholder="Your Opus Here">-->
  <input type="submit" title="submit" value="Post">
</form>
