.poem {
	font-family: 'Raleway';
	font-size: 26px;
	width: 33%;
	margin: auto;
	line-height: 1.50em;
	font-family: serif;

}

.poem::first-letter {
	font-size: 175%;
}

pre {
	font-family: inherit;
}
	
