header {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

header h1 {
  font-size: 50px;
  margin-bottom: 5px;
}

header a {
  text-decoration: none;
  color: #000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-block;
  padding: 0 20px;
}

header a:hover {
  text-shadow: 0 0 4px #666;
}

.poem-title {
  text-transform: uppercase;
}

.poem {
	font-size: 26px;
	width: 33%;
	margin: auto;
	line-height: 1.50em;
	font-family: serif;

}

.poem::first-letter {
	font-size: 175%;
}

pre {
	font-family: inherit;
}
