<form action="/signup" method="post">
  <input type="text" name="username" placeholder="User Name">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" title="submit" value="Sign Up">
</form>
