<form action="/signup" method="post">
  <input type="text" name="user[username]" placeholder="User Name">
  <input type="password" name="user[password]" placeholder="Password">
  <div class="g-recaptcha" data-sitekey="6Ldt5icUAAAAAMgshnXH0Q4YCU0LkbFEPuG1qhTj"></div>
  <input type="submit" title="submit" value="Sign Up">
</form>
