<h2>Welcome to PoemBox!</h2>
PoemBox is a web application for sharing poetry. It was written in Ruby and Sinatra by Luisa Scavo.

<h2>How do I use this crazy thing?</h2>
Get started by signing up or logging in. From there, view random poems, top-rated poems, or poems by user.
