<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PoemBox - The Online Poetry Treasury</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
